<div class="card card-shadow">
    <div class="card-body">
        <div class="mb-2 mb-md-3">
            <textarea class="form-control" rows="3" placeholder="Nhập đáp án"
            [(ngModel)]="value"
            (ngModelChange)="valueChange()"
            (keydown.enter)="submit($event)"></textarea>
        </div>
        <div>
            <button type="button" class="btn btn-info btn-block" 
            (click)="submit()"
            [disabled]="disableSubmit"
            [class.btn-correct]="isCorrect && submitted"
            [class.btn-wrong]="!isCorrect && submitted"
            [class.btn-focus]="submitted">Kiểm tra</button>
        </div>
        <div [class.blocker]="submitted"></div>
    </div>
</div>