<div class="row">
    <div class="col-xs-6 col-md-6">
        <h1 class="float-left">Đăng </h1>
        <div class="float-left">
            <h1 class="float-left rotating" *ngIf="isSignUp; else signIn" @rotateInOut>ky</h1>
            <ng-template #signIn>
                <h1 class="float-left rotating" @rotateInOut>nhap</h1>
            </ng-template>
        </div>
    </div>
    <div class="col-xs-6 col-md-6">
        <a class="float-right" (click)="toggle()"
        data-toggle="collapse" href=".multi-collapse" 
        aria-expanded="false" aria-controls="collapse1 collapse2">Đã có tài khoản?</a>
    </div>
</div>


<form>
    <div class="form-group">
        <input type="email" class="form-control" name="email" placeholder="Email cua ban" [(ngModel)]="info.email">
    </div>
    <div class="collapse show multi-collapse" id="collapse1">
        <div class="form-group">
            <input type="text" class="form-control" name="username" placeholder="Tên hiển thị" [(ngModel)]="info.name">
        </div>
    </div>
    <div class="form-group">
        <input type="password" class="form-control" name="password" placeholder="Mật khẩu" [(ngModel)]="info.password">
    </div>
    <div class="collapse show multi-collapse" id="collapse2">
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Nhập lại mật khẩu">
        </div>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-success btn-lg btn-block" (click)="sign()" [@changeColor]="state">{{stateName}}</button>
    </div>
    <div class="row">
            <div class="col-sm-6">
                <button class="btn btn-danger btn-block">Google+</button>
            </div>
            <div class="col-sm-6">
                <button class="btn btn-primary btn-block">Facebook</button>
            </div>
    </div>
</form>

