<div class="card card-shadow">
    <div class="card-body text-center">
        <h3 class="card-title mb-2">
            Cấp độ
        </h3>
        <h6 class="card-subtitle text-muted mb-3">
            {{learner?.experience}} EXP
        </h6>
        <div class="level-circle d-inline-block mx-2 mb-2">
            <div class="level d-flex w-100 h-100 justify-content-center align-items-center m-auto">
                <span class="text-success">
                    {{level}}
                </span>
            </div>
        </div>
        <div class="process-text text-info">
            {{currentLevelExperience}}/{{currentLevelExperienceRequired}}
        </div>
    </div>
</div>