.level-circle {
    position: relative;
    height: 120px;
    
}
.level {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 3rem;
    font-weight: bolder;
}
.process-text {
    font-size: 1.5rem;
    font-weight: bold;
}