<div class="modal" [id]="modal" [class.fade]="fade" [class.no-overflow]="center" tabindex="-1" role="dialog" [attr.aria-labelledby]="modal + 'Label'"
    aria-hidden="true">
    <div class="modal-dialog" [class.modal-sm]="small" [class.modal-lg]="large" [class.modal-xl]="extraLarge" [class.center]="center"
        role="document">
        <div *ngIf="!customForm; else custom">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" [id]="modal + 'Label'">
                        {{title}}
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ng-container *ngTemplateOutlet="content"></ng-container>
                </div>
            </div>
        </div>
        <ng-template #custom>
            <div class="custom" [class.translate]="center">
                <ng-container *ngTemplateOutlet="content"></ng-container>
            </div>
        </ng-template>
    </div>
</div>
<ng-template #content>
    <ng-content></ng-content>
</ng-template>