<div class="card card-shadow">
    <div class="card-header bg-sky">
        <i class="fa fa-book mr-2" aria-hidden="true"></i>
        <strong>Thư viện câu hỏi</strong>
    </div>
    <div class="card-body">
        <div class="row">
            <div *ngFor="let lesson of lessons$ | async" class="col-lg-6 mb-1">
                <a [routerLink]="['/study/lesson', lesson.id]">
                    <app-lesson-card [lesson]="lesson">
                    </app-lesson-card>
                </a>
            </div>
        </div>
    </div>
</div>