.card {
    min-height: 80vh;
}
.col-lg-6 {
    padding: 5px;
}
a:hover {
    text-decoration: none;
}
app-lesson-card {
    display: block;
    transition: transform 0.2s;
}
app-lesson-card:hover {
    transform: translateY(-5%);
}