/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Rubik', sans-serif;
}
.background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #e2faff;
    background-image: url('assets/images/hills.svg');
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
}
@media (min-width: 1200px) {
    .background{
        height: 110%;
    }
}
.app-page {
    margin-top: 100px; 
}
@media (max-width: 768px) {
    .app-page {
        margin-top: 10px;
    }
}
.bg-sky {
    background-color: #caebf2 !important;
}
.bg-carbon {
    background-color: #a9a9a9 !important;
}
.bg-watermelon {
    background-color: #ff3b3f !important;
}
.bg-neutral {
    background-color: #efefef !important;
}
.text-sky {
    color: #caebf2 !important;
}
.text-carbon {
    color: #a9a9a9 !important;
}
.text-watermelon {
    color: #ff3b3f !important;
}
.text-neutral {
    color: #efefef !important;
}
.nav-btn:hover {
    color: #2674aa !important;
    background-color: #caebf2;
    cursor: pointer;
}
.nav-btn:active {
    color: #0674aa !important;
    background-color: #aaebf2;
}
.card-shadow {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    border: none;
}
.btn-correct {
    color: white;
    background-color: #28a745;
    border-color: #28a745;
}
.btn-focus.btn-correct {
    box-shadow: 0 0 0 3px rgba(40, 167, 69, .5);
}
.btn-focus.btn-wrong {
    color: white;
    background-color: rgb(220, 53, 69);
    border-color: rgb(220, 53, 69);
    box-shadow: 0 0 0 3px rgba(220, 53, 69, .5);
}
.blocker {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.tooltip-inner {
    background: #dc3545;
}
.arrow::before {
    border-top-color: #dc3545 !important;
}