<div class="card card-shadow">
    <div class="card-body">
        <div class="row">
            <div *ngFor="let choice of question.choices; let i = index" class="col-md-6">
                <button type="button" class="btn btn-outline-info btn-block btn-lg"
                (click)="submit(i.toString())" 
                [class.btn-correct]="isCorrect && i == currentChoice && submitted"
                [class.btn-wrong]="isCorrect === false && submitted"
                [class.btn-focus]="i == currentChoice && submitted">
                    {{choice}}
                </button>
            </div>
        </div>
        <div [class.blocker]="submitted"></div>
    </div>
</div>