.user-name {
    font-size: 1.5rem;
}
.user-role {
    font-size: 1.1rem;
}
@media (min-width: 576px) {
    .user-name {
        font-size: 2rem;
    }
    .user-role {
        font-size: 1.5rem;
    }
}
.form-group {
    position: relative;
}
.form-group input {
    padding-right: 38px;
}
.tooltip-wrap {
    position: absolute;
    top: 11px;
    right: 11px;
}
.icon-manager {
    font-size: 1.1em;
    vertical-align: -0.05em;
}
.icon-crown {
    width: 1.2em;
    height: 1.2em;
    vertical-align: -0.125em;
}
.btn-appoint {
    position: absolute;
    top: 15px;
    right: 15px;
}
